<!DOCTYPE HTML>
<html>
    <head>
        <script src="/tree-grid/lib/angular.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/tree-grid/lib/bootstrap.min.css" />
        <style>.ng-cloak { display: none !important; }</style>
    </head>
    <body ng-controller="IndexController as index" style="margin: 10px 20px">
        <div class="container-fluid ng-cloak">
            <div class="row">
                <form class="hide col-md-2 pull-right"><div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span><input class="form-control" type="search" ng-model="index.filterString" placeholder="Filter…" /></div></form>
                <ol class="breadcrumb">
                    <li><a ng-hide="index.path == '' || index.path == '/'" href="" ng-click="index.go_up()"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
                    <li ng-class="{'active': $last}" ng-repeat="part in index.path_parts"><span ng-if="$last" ng-bind="part.name"></span><a ng-if="!$last" href="#{{ part.path }}" ng-bind="part.name"></a></li>
                </ol>
            </div>

            <div class="row" ng-hide="index.error">
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th class="col-md-9"><a href="" ng-click="index.toggle_sort('name', false)">Name
                            <i ng-show="index.sort.name == 'name'" class="glyphicon pull-right" ng-class="index.sort.rev ? 'glyphicon-arrow-up': 'glyphicon-arrow-down'"></i></a>
                        </th>
                        <th class="col-md-2"><a href="" ng-click="index.toggle_sort('mtime', true)">Time
                            <i ng-show="index.sort.name == 'mtime'" class="glyphicon pull-right" ng-class="index.sort.rev ? 'glyphicon-arrow-up': 'glyphicon-arrow-down'"></i></a>
                        </th>
                        <th class="col-md-1"><a href="" ng-click="index.toggle_sort('size', false)">Size
                            <i ng-show="index.sort.name == 'size'" class="glyphicon pull-right" ng-class="index.sort.rev ? 'glyphicon-arrow-up': 'glyphicon-arrow-down'"></i></a>
                        </th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in index.files | orderBy:index.sort.name:index.sort.rev">
                            <td ng-click="index.open_folder(row) && $event.preventDefault()"><a href="{{ index.path }}/{{ row.name }}"><i class="glyphicon" ng-class="{'glyphicon-folder-close': row.type == 'directory', 'glyphicon-file': row.type == 'file'}"></i> {{ row.name }}</a></td>
                            <td>{{ row.mtime | date:'short' }}</td>
                            <td><span ng-bind="row.size | humanize" ng-show="row.size"></span></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>

            <div class="row" ng-show="index.error">
                <div class="alert alert-danger" role="alert">
                    <big>
                        <strong>Oh snap!</strong>
                        Error {{ index.error.status }} occurred, and it means “{{ index.error.statusText || 'Server is out of reach' }}”.
                    </big>
                </div>
            </div>
        </div>
        <script>
var index = angular.module('index', ['ng']);
index.controller('IndexController', ['$http', '$location', '$rootScope', function ($http, $location, $scope) {
    var self = this;

    $scope.$on('$locationChangeSuccess', function () {
        self.path_parts = path_parts(self.path = $location.path());
        load_folder(self.path);
    });

    this.sort = { 'rev': false };

    this.toggle_sort = function (col, rev) {
        if (self.sort.name == col) {
            self.sort.rev = !self.sort.rev;
        } else {
            self.sort.name = col;
            self.sort.rev = rev;
        }
    };

    this.path_parts = path_parts(this.path = $location.path());

    this.open_folder = function (branch) {
        if (branch.type == 'directory') {
            if (self.path == '/') {
                $location.path('/' + branch.name);
            } else {
                $location.path(self.path + '/' + branch.name);
            }
            return true;
        }

        return false;
    };

    this.files = [];

    this.go_up = function () {
        var lastSlash = self.path.lastIndexOf('/');
        if (lastSlash < 0) {
            $location.path('');
        } else {
            $location.path(self.path.substring(0, lastSlash));
        }
    };

    function load_folder(path) {
        self.error = null;

        $http({
            method: 'GET',
            url: 'http/' + path
        }).then(function (response) {
            var files = response.data || [];

            for (var i = 0, l = files.length; i < l; i++) {
                files[i].mtime = new Date(files[i].mtime);
            }

            self.filterString = '';
            self.files = files;
        }, function (response) {
            self.error = response;
        });
    }

    function path_parts(path) {
        var parts = (path == '/'? '': path).split('/'), up = '', path;
        for (var i = 0, l = parts.length; i < l; i++) {
            path = up + parts[i];
            up = path + '/';
            parts[i] = { path: path, name: parts[i] || '‹root›' };
        }
        return parts;
    };

    load_folder(this.path);
}]);
index.filter('humanize', function () {
    return function humanize(number) {
        if(number < 1024) {
            return number + ' bytes';
        }
        var si = ['K', 'M', 'G', 'T', 'P', 'H'];
        var exp = Math.floor(Math.log(number) / Math.log(1024));
        var result = number / Math.pow(1024, exp);
        result = (result % 1 > (1 / Math.pow(1024, exp - 1))) ? result.toFixed(2) : result.toFixed(0);
        return result + ' ' + si[exp - 1] + 'ib';
    };
});
angular.element(document).ready(function () {
    angular.bootstrap(document, ['index']);
});
        </script>
    </body>
</html>
