<!DOCTYPE HTML>
<html ng-app="index">
    <head>
        <title ng-bind-template="{{ $$childTail.index.path }} ({{ $$childTail.index.files.length }}) — Files Index">Files Index</title>
        <script src="tree-grid/lib/angular.min.js"></script>
        <link type="text/css" rel="stylesheet" href="tree-grid/lib/bootstrap.min.css" />
        <meta charset="utf-8" />
        <style>
            .ng-cloak { display: none !important; }
            table.table tr a { display: block; }
            @keyframes rotate {
                from { transform: rotate(0deg); }
                to { transform: rotate(360deg); }
            }
            .loader {
                animation: rotate 1s infinite linear;
            }

            #scroll-to-top {
                position: fixed;
                z-index: 2000;
                right: 30px;
                top: 1.25em;
            }
        </style>
    </head>
    <body style="margin: 10px 20px">
        <div ng-controller="ScrollToTopController as scroll" class="pull-right" id="scroll-to-top" ng-show="scroll.show"><a href="" ng-click="scroll.to_top(); $event.preventDefault()"><i class="glyphicon glyphicon-arrow-up"></i> to top</a></div>
        <div ng-controller="IndexController as index" class="container-fluid ng-cloak">
            <div class="row">
                <ol class="breadcrumb" style="left: 20px; right: 20px; position: fixed; z-index: 1000;">
                    <li ng-class="::{'active': $last}" ng-repeat="part in index.path_parts"><span ng-if="::$last">{{:: part.name }} <small ng-if="index.files.length > 5">({{index.files.length}})</small></span><a ng-if="::!$last" href="#{{:: part.path }}" ng-bind="::part.name"></a></li>
                    <li class="active" ng-show="index.loading.running"><i class="loader glyphicon glyphicon-refresh"></i></li>
                </ol>
            </div>

            <div class="row" style="margin-top: 3em;" ng-hide="index.error">
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th class="col-md-9"><a ng-click="index.toggle_sort('name', false)" href="">Name
                            <i ng-show="index.sort.name == 'name'" class="glyphicon pull-right" ng-class="index.sort.rev ? 'glyphicon-arrow-up': 'glyphicon-arrow-down'"></i></a>
                        </th>
                        <th class="col-md-2"><a ng-click="index.toggle_sort('mtime', true)" href="">Time
                            <i ng-show="index.sort.name == 'mtime'" class="glyphicon pull-right" ng-class="index.sort.rev ? 'glyphicon-arrow-up': 'glyphicon-arrow-down'"></i></a>
                        </th>
                        <th class="col-md-1"><a ng-click="index.toggle_sort('size', false)" href="">Size
                            <i ng-show="index.sort.name == 'size'" class="glyphicon pull-right" ng-class="index.sort.rev ? 'glyphicon-arrow-up': 'glyphicon-arrow-down'"></i></a>
                        </th>
                    </thead>
                    <tbody ng-click="index.open_folder($event)">
                        <tr ng-hide="index.path == '' || index.path == '/'">
                            <td ng-click="index.go_up()"><a href=""><i class="glyphicon glyphicon-level-up"></i> ..</a></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="row in index.files | orderBy:index.sort.name:index.sort.rev">
                            <td><a href="{{:: index.path }}/{{:: row.name }}"><i class="glyphicon" ng-class="::{ 'glyphicon-folder-close': row.type == 'directory', 'glyphicon-file': row.type == 'file' }"></i> {{:: row.name }}</a></td>
                            <td>{{:: row.mtime | date:'short' }}</td>
                            <td><span title="{{:: row.size }}" ng-bind=":: row.size | humanize" ng-if=":: row.size != undefined"></span></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>

            <div class="row" style="margin-top: 60px;" ng-show="index.error">
                <div class="alert alert-danger" role="alert">
                    <big>
                        <strong>Oh snap!</strong>
                        Error {{ index.error.status }} occurred, and it means “{{ index.error.statusText || 'Server is out of reach' }}”.
                    </big>
                </div>
            </div>
        </div>
        <script>
angular.module('index', ['ng'])
.constant("FILES_BASE_URL", "")
.controller('IndexController', ['$http', '$location', '$rootScope', '$window', '$timeout', 'FILES_BASE_URL',
function ($http, $location, $scope, window, $timeout, FILES_BASE_URL) {
    var self = this;

    $scope.$on('$locationChangeSuccess', function () {
        self.path_parts = path_parts(self.path = $location.path());
        load_folder(self.path);
    });

    this.sort = { 'rev': false };

    this.toggle_sort = function (col, rev) {
        if (self.sort.name == col) {
            self.sort.rev = !self.sort.rev;
        } else {
            self.sort.name = col;
            self.sort.rev = rev;
        }
    };

    if ($location.path() == '' && (this.path = window.localStorage.getItem('lastPath'))) {
        $location.path(this.path);
    }

    this.open_folder = function (ev) {
        var elem = ev.srcElement;
        if (elem.tagName != 'A') {
            return;
        }

        var branch = angular.element(elem).scope().row;

        if (!branch || branch.type != 'directory') {
            return;
        }

        ev.preventDefault();
        if (self.path == '/') {
            $location.path('/' + branch.name);
        } else {
            $location.path(self.path + '/' + branch.name);
        }
    };

    this.files = [];

    this.loading = false;

    this.go_up = function () {
        var lastSlash = self.path.lastIndexOf('/');
        if (lastSlash < 0) {
            $location.path('');
        } else {
            $location.path(self.path.substring(0, lastSlash));
        }
    };

    this.loading = {
        running: false,
        timer: null,
        start: function (timeout) {
            var self = this;
            this.stop();
            this.timer = $timeout(function () {
                self.running = true;
            }, timeout || 500);
        },
        stop: function () {
            this.timer && $timeout.cancel(this.timer);
            this.timer = null;
            this.running = false;
        }
    };

    function load_folder(path) {
        self.error = null;
        self.loading.start();

        $http({
            method: 'GET',
            url: FILES_BASE_URL + (path || '')
        }).then(function (response) {
            var files = response.data || [];

            for (var i = 0, l = files.length; i < l; i++) {
                files[i].mtime = new Date(files[i].mtime);
            }

            self.files = files;
            self.loading.stop();
            window.localStorage.setItem('lastPath', path);
            window.scrollTo(0, 0);
        }, function (response) {
            self.error = response;
            self.loading.stop();
            window.scrollTo(0, 0);
        });
    }

    function path_parts(path) {
        var parts = (path == '/'? '': path).split('/'), up = '', path;
        for (var i = 0, l = parts.length; i < l; i++) {
            path = up + parts[i];
            up = path + '/';
            parts[i] = { path: path, name: parts[i] || '‹root›' };
        }
        return parts;
    };
}])
.controller('ScrollToTopController', ['$window', '$scope', function (window, $scope) {
    var self = this;
    this.show = false;

    var scrollDebounce = null;
    window.addEventListener('scroll', function () {
        scrollDebounce && clearTimeout(scrollDebounce);
        self.show = window.scrollY > 150;
        scrollDebounce = setTimeout(function () {
            $scope.$digest();
        }, 500);
    });

    var scrollTicker;
    this.to_top = function () {
        scrollTicker && clearInterval(scrollTicker);

        scrollTicker = setInterval(function () {
            var y = 0.6 * window.scrollY;
            if (y < 100) {
                y = 0;
                clearInterval(scrollTicker);
            }

            window.scrollTo(0, y);
        }, 10);
    };
}])
.filter('humanize', function () {
    return function humanize(number) {
        if(number < 1024) {
            return number + ' bytes';
        }
        var si = ['K', 'M', 'G', 'T', 'P', 'H'];
        var exp = Math.floor(Math.log(number) / Math.log(1024));
        var result = number / Math.pow(1024, exp);
        result = (result % 1 > (1 / Math.pow(1024, exp - 1))) ? result.toFixed(2) : result.toFixed(0);
        return result + ' ' + si[exp - 1] + 'ib';
    };
});
        </script>
    </body>
</html>
