<!DOCTYPE HTML>
<html ng-app="index">
    <head>
        <title ng-bind-template="{{ $$childTail.index.path }} ({{ $$childTail.index.files.length }}) — Files Index">Files Index</title>
        <script src="lib/angular.min.js"></script>
        <link type="text/css" rel="stylesheet" href="lib/bootstrap.min.css" />
        <meta charset="utf-8" />
        <style>
            .ng-cloak { display: none !important; }
            table.table tr a { display: block; }
            @keyframes rotate {
                from { transform: rotate(0deg); }
                to { transform: rotate(360deg); }
            }
            .loader {
                animation: rotate 1s infinite linear;
            }

            #scroll-to-top {
                position: fixed;
                z-index: 2000;
                right: 30px;
                top: 1.25em;
            }
        </style>
    </head>
    <body style="margin: 10px 20px">
        <div ng-controller="ScrollToTopController as scroll" class="pull-right" id="scroll-to-top" ng-show="scroll.show"><a href="" ng-click="scroll.to_top(); $event.preventDefault()"><i class="glyphicon glyphicon-arrow-up"></i> to top</a></div>
        <div ng-controller="IndexController as index" class="container-fluid ng-cloak">
            <div class="row">
                <ol class="breadcrumb" style="left: 20px; right: 20px; position: fixed; z-index: 1000;">
                    <li><a href="" ng-click="index.reload()" title="Reload"><i ng-class="{'loader': index.reloading.running || index.loading.running}" class="glyphicon glyphicon-refresh"></i></a></li>
                    <li ng-class="::{'active': $last}" ng-repeat="part in index.path_parts"><span ng-if="::$last">{{:: part.name }} <small ng-if="index.files.length > 5">({{index.files.length}})</small></span><a ng-if="::!$last" href="#{{:: part.path }}" ng-bind="::part.name"></a></li>
                </ol>
            </div>

            <div class="row" style="margin-top: 3em;" ng-hide="index.error">
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th class="col-md-9" ng-class="{'info': index.sort.name == 'name'}"><a title="Reset sort" class="pull-left" href="" ng-style="{'visibility': index.sort.name ? 'visible' : 'hidden'}" ng-click="index.sort.reset()"><i class="glyphicon glyphicon-sort"></i>&nbsp;</a><a ng-click="index.sort.toggle('name', false)" href="">Name
                            <i ng-show="index.sort.name == 'name'" class="glyphicon pull-right" ng-class="index.sort.rev ? 'glyphicon-sort-by-alphabet-alt': 'glyphicon-sort-by-alphabet'"></i></a>
                        </th>
                        <th class="col-md-2" ng-class="{'info': index.sort.name == 'mtime'}"><a ng-click="index.sort.toggle('mtime', true)" href="">Time
                            <i ng-show="index.sort.name == 'mtime'" class="glyphicon pull-right" ng-class="index.sort.rev ? 'glyphicon-sort-by-order-alt': 'glyphicon-sort-by-order'"></i></a>
                        </th>
                        <th class="col-md-1" ng-class="{'info': index.sort.name == 'size'}"><a ng-click="index.sort.toggle('size', false)" href="">Size
                            <i ng-show="index.sort.name == 'size'" class="glyphicon pull-right" ng-class="index.sort.rev ? 'glyphicon-sort-by-attributes-alt': 'glyphicon-sort-by-attributes'"></i></a>
                        </th>
                    </thead>
                    <tbody>
                        <tr ng-hide="index.path == '' || index.path == '/'">
                            <td ng-click="index.go_up()"><a href=""><i class="glyphicon glyphicon-level-up"></i> ..</a></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="row in index.files | orderBy:index.sort.name:index.sort.rev">
                            <td><a href="{{:: row.type == 'directory' ? '#' : index.config.base_index_url }}{{:: index.path }}/{{:: row.name }}"><i class="glyphicon" ng-class="::{ 'glyphicon-folder-close': row.type == 'directory', 'glyphicon-file': row.type == 'file', 'glyphicon-question-sign': row.type == 'other' }"></i> {{:: row.name }}</a></td>
                            <td>{{:: row.mtime | date:'short' }}</td>
                            <td><span title="{{:: row.size }}" ng-bind=":: row.size | humanize" ng-if=":: row.size != undefined"></span></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>

            <div class="row" style="margin-top: 60px;" ng-show="index.error">
                <div class="alert alert-danger" role="alert">
                    <big>
                        <strong>Oh snap!</strong>
                        Error {{ index.error.status }} occurred, and it means “{{ index.error.statusText || 'Server is out of reach' }}”.
                    </big>
                </div>
            </div>
        </div>
        <script>
angular.module('index', ['ng'])
.controller('IndexController', ['$http', '$location', '$scope', '$window', '$timeout',
function ($http, $location, $scope, window, $timeout, FILES_BASE_URL) {
    var self = this;

    this.config = null;
    this.sort = {
        rev: false,
        name: null,
        reset: function () {
            this.rev = false;
            this.name = null;

            this.save();
        },
        toggle: function (col, rev) {
            if (this.name == col) {
                this.rev = !this.rev;
            } else {
                this.name = col;
                this.rev = rev;
            }

            this.save();
        },
        save: function () {
            window.localStorage.setItem('sortName', this.name || '');
            window.localStorage.setItem('sortRev', this.rev? '1': '');
        },
        load: function () {
            this.name = window.localStorage.getItem('sortName');
            this.rev = !!window.localStorage.getItem('sortRev');
        }
    };

    this.files = [];

    this.loading = {
        running: false,
        timer: null,
        start: function (timeout) {
            if (timeout == undefined) { timeout = 500; }

            var self = this;
            this.stop();

            if (timeout > 0) {
                this.timer = $timeout(function () {
                    self.running = true;
                }, timeout);
            } else {
                this.running = true;
            }
        },
        stop: function () {
            this.timer && $timeout.cancel(this.timer);
            this.timer = null;
            this.running = false;
        }
    };

    this.go_up = function () {
        var lastSlash = self.path.lastIndexOf('/');
        if (lastSlash < 0) {
            $location.path('');
        } else {
            $location.path(self.path.substring(0, lastSlash));
        }
    };

    this.reloading = {
        running: false,
        start: function (timeout) {
            this.timer && $timeout.cancel(this.timer);
            this.running = true;

            var self = this;
            this.timer = $timeout(function () {
                self.running = false;
            }, timeout || 1000);
        }
    };

    this.reload = function () {
        self.reloading.start();
        load_folder(self.path);
    };

    function load_folder(path) {
        self.error = null;
        self.loading.start();

        return $http({
            method: 'GET',
            url: self.config.base_index_url + (path || '') + (self.config.tail_slash? '/': '')
        }).then(function (response) {
            var files = response.data || [];

            for (var i = 0, l = files.length; i < l; i++) {
                files[i].mtime = new Date(files[i].mtime);
            }

            self.files = files;
            self.loading.stop();

            window.localStorage.setItem('lastPath', path);
            window.scrollTo(0, 0);
        }, function (response) {
            self.error = response;
            self.loading.stop();
            window.scrollTo(0, 0);
        });
    }

    function path_parts(path) {
        var parts = (path == '/'? '': path).split('/'), up = '', path;
        for (var i = 0, l = parts.length; i < l; i++) {
            path = up + parts[i];
            up = path + '/';
            parts[i] = { path: path, name: parts[i] || '‹root›' };
        }
        return parts;
    }

    function initialize(config) {
        self.sort.load();
        self.loading.start();

        $http({
            url: config || 'config.json',
            method: 'GET'
        }).then(function (response) {
            self.loading.stop();

            self.config = response.data || {
                base_index_url: "",
                tail_slash: false
            };

            $scope.$on('$locationChangeSuccess', function () {
                self.path_parts = path_parts(self.path = $location.path());
                if (self.path == '/') self.path = '';
                load_folder(self.path);
            });

            var path;
            if ($location.path() == '' && (path = window.localStorage.getItem('lastPath'))) {
                $location.path(path);
            } else {
                $scope.$broadcast('$locationChangeSuccess');
            }

        }, function (response) {
            self.loading.stop();
            self.error = response;
        });
    }

    initialize($location.search().config);
}])
.controller('ScrollToTopController', ['$window', '$scope', function (window, $scope) {
    var self = this;
    this.show = false;

    var scrollDebounce = null;
    window.addEventListener('scroll', function () {
        scrollDebounce && clearTimeout(scrollDebounce);
        self.show = window.scrollY > 150;
        scrollDebounce = setTimeout(function () {
            $scope.$digest();
        }, 500);
    });

    var scrollTicker;
    this.to_top = function () {
        scrollTicker && clearInterval(scrollTicker);

        scrollTicker = setInterval(function () {
            var y = 0.6 * window.scrollY;
            if (y < 100) {
                y = 0;
                clearInterval(scrollTicker);
            }

            window.scrollTo(0, y);
        }, 10);
    };
}])
.filter('humanize', function () {
    return function humanize(number) {
        if(number < 1024) {
            return number + ' bytes';
        }
        var si = ['K', 'M', 'G', 'T', 'P', 'H'];
        var exp = Math.floor(Math.log(number) / Math.log(1024));
        var result = number / Math.pow(1024, exp);
        result = (result % 1 > (1 / Math.pow(1024, exp - 1))) ? result.toFixed(2) : result.toFixed(0);
        return result + ' ' + si[exp - 1] + 'ib';
    };
});
        </script>
    </body>
</html>
